---
import Base from "@layouts/Base.astro";
---

<Base title="About" , description="A little bit about myself">
  <article>
    <header><h1>About me</h1></header>
    <p>I've used the handle soundslikework for a long time - it's been the title for all kinds of musical projects - now it's a blog dedicated to exploring music and guitar equipment. Here you'll find articles, reviews and discussions about guitars, pedals, amps and other musical gear.</p>
    <p>noise, feedback and oscillation</p>
  </article>
</Base>
