---
import { getCollection } from "astro:content";
import ArticlePreview from "./ArticlePreview.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const maxPostsToDisplay = 4;
const firstPost = posts[0];
const recentPosts = posts.slice(1, maxPostsToDisplay);
---

<section>
  <h3>Recent posts</h3>
  <ArticlePreview {...firstPost} />
    <div class="grid">
    {
      recentPosts.map((post) => (
        <ArticlePreview {...post} />
      ))
    }
  </div>
</section>
